.card{
    position: absolute;
    width: 90%;
    height: 90%;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color: red;
}
.hidden{
    display: none;
}

.home{
    color:gray;
    text-align: center;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    img{
        width:em(80px);
    }
}
.main-container{
    position: absolute;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}