.contact{
    color:#bebebe;
    width: 100%;
    position: relative;
    bottom: 0;
    background: #323232;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 10px 0;
    .form-wrap{
        .form-head{
            margin: 10px 0;
        }
        padding-left: 10%;
        width: 70%;
        min-width: 50%;
        ::placeholder{
            color:#bebebe;
        }
        input{
            font-family:--secondary-font;
            width: 100%;
            margin: 10px 0;
            background: #454545;
            border: none;
            padding:10px;
        }
        textarea{
            height: 10em;
            width: 100%;
            margin: 10px 0;
            background: #454545;
            border: none;
            resize: none;
            border-radius: 5px;
            padding:10px;
        }
    }
    .form-dis{
        font-family:--secondary-font;
        align-self: center;
        width: 30%;
        padding-left: 10px;
        display: none;
        @media screen and (min-width: 700px) {
        display: initial;
            }
        span{
            color:#2ab499;
            font-size: 20px;
        }
    }

    .btn-container{
        display: flex;
        justify-content: flex-end;
            button{
                background: #2eb398;
                border: none;
                padding: 5px 10px;
            }
    }

}