.home{
    width:90%;
    height: 90%;
}
.home-container{
    animation-name: zoomInDown;
    animation-duration: 2s;
    transition-duration: 2s;
    color:gray;
    text-align: center;
    position: absolute;
    left:50%;
    top:54%;
    transform: translate(-50%,-50%);
    img{
        width:80%;
    }
}