.image-picker{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    .search-container{
        display: flex;
        flex-wrap: nowrap;
    }
    .view-container{
        display: flex;
        flex-wrap: nowrap;
    }
    .img-keywords-container{
        display: flex;
        flex-wrap: wrap;
        height: 100px;
        overflow: scroll;
        span{
            margin: 5px;
            &:hover{
                cursor: pointer;
            }
        }
    }
    .img-page-container{
            button:disabled{
                background-color:gray;
        }
    }
    .image-container{
        margin-top: 45px;
        margin-bottom: 15px;
        div{
            text-align: center;
            h1{
                text-align: center;
            }
        }
        img{
            &:hover{
                cursor: pointer;
            }
            opacity: 0.9;
            margin-top: -20px;
            margin-left:10px;
            height: 100px;
            width: 100px;
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);   
        }
    }
}