.image-picker{
    .img-keywords-container{
        span{
            margin: 5px;
            &:hover{
                cursor: pointer;
            }
        }
    }
    .image-container{
        margin-left: auto;
        margin-right: auto;
        margin-top:50px;
        height: 100%;
        width: 100%;
        div{
            display: inline-block;
            width: 50px;
            height: 100px;
        }
        img{
            &:hover{
                cursor: pointer;
            }
            margin-top: -20px;
            margin-left:10px;
            height: 100px;
            width: 100px;
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);   
        }
    // }
    }
}