.image-picker-container{
    .img-keywords-container{
        display: flex;
        flex-wrap: wrap;
        // background-color: yellow;
        height: 100px;
        overflow: scroll;
        span{
            // display: block;
            margin: 5px;
            &:hover{
                cursor: pointer;
            }
        }
    }
    .img-page-container{
        .curr-page{
            background-color: red;
        }
    }
    .image-container{
        position: relative;
        top: 30px;
        table{
            img{
                margin-top: 0;
            }
        }
        div{
            display: inline-block;
            width: 50px;
            height: 100px;
        }
        img{
            &:hover{
                cursor: pointer;
            }
            opacity: 0.9;
            margin-top: -20px;
            margin-left:10px;
            height: 100px;
            width: 100px;
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);   
        }
    }
}