.navbar{
    z-index: 5;
    position: fixed;
    top: -40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    transition: top 0.3s ease;
    .nav-wrap{
    padding-bottom: 10px;
    width: 100%;
    background: #202020;
    display: flex;
    justify-content: center;
    ul{
        width:100%;
        height: 40px;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #f1f1f1;
        li{
            margin:0px 2%;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            span{
                margin:10px;
        }
        @media screen and (max-width: 500px) {
                li span{
                    margin:100px;
                }
                .navtxt{
                    display: none;
                }
            }
        }
    }
    }
    .show-arrow{
        position: absolute;
        height: 70px;
        width: 70px;
        background: #202020;
        transform: rotate(45deg);
        padding-top: 20px;
        padding-left: 13px;
        z-index: 99;
        overflow: hidden;
        img{
                transform: rotate(-45deg) translate(2px,1px);
        }
    }
}

.navbar:hover{
    top: 0px;
}

